# Build and Release Folders
production_Config.ini

# Other files and folders
MOTDCache/
Minimap/
Screenshots/

# Executables
*.dmp
*.txt
*.png

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
